:root {
  /* -----------colors----------- */
  --color-primary-DarkCyan: hsl(158, 36%, 37%);
  --color-primary-Cream: hsl(30, 38%, 92%);
  --color-neutral-VeryDarkBlue: hsl(212, 21%, 14%);
  --color-neutral-DarkrayishBlue: hsl(228, 12%, 48%);
  --color--neutral-White: hsl(0, 0%, 100%);

  /* -----------fonts----------- */
  --Body-Font-Size: 14px;

  --Font-Family-Montserrat: "Montserrat", sans-serif;
  --Fonf-Family-Fraunces: "Fraunces", serif;
}

body {
  background-color: var(--color-primary-Cream);
  height: 667px;
  max-width: 375px;
}

* {
  box-sizing: border-box;
}
/* ----------------------------- */

/* -----------content----------- */

.content {
  width: 95%;
  height: 90%;
  background-color: var(--color--neutral-White);
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
}

.content--mobile {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.content--perfume {
  font-family: var(--Font-Family-Montserrat);
  color: var(--color-neutral-DarkrayishBlue);
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 5px;
  /* margin-left: 25px; */
  text-transform: uppercase;
  margin: 0;
  padding: 20px 25px 20px 25px;
}

.content--name {
  font-family: var(--Fonf-Family-Fraunces);
  color: var(--color-neutral-VeryDarkBlue);
  margin: 0;
  padding: 0 0 0 25px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.9rem;
}

.content--description {
  font-family: var(--Font-Family-Montserrat);
  color: var(--color-neutral-DarkrayishBlue);
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  padding: 20px 15px 10px 25px;
  line-height: 1.4rem;
}

.content--price {
  display: flex;
  margin: 0px 0 0 25px;
  height: 60px;
}

.content--discountPrice {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--Fonf-Family-Fraunces);
  color: var(--color-primary-DarkCyan);
  font-size: 2rem;
}

.content--originalPrice {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--Font-Family-Montserrat);
  color: var(--color-neutral-DarkrayishBlue);
  font-size: 0.8rem;
  padding: 15px;
  text-align: center;
  text-decoration: line-through;
}

.content--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-left: 6%;
  padding: 14px 14px;
  background-color: var(--color-primary-DarkCyan);
  font-family: var(--Font-Family-Montserrat);
  color: var(--color--neutral-White);
  font-size: 0.8rem;
  font-weight: 500;
  width: 88%;
  border: none;
  border-radius: 8px;
}

.content--button:hover {
  background-color: #214232;
}

/* ----------------------------- */

/*------------footer------------*/

.attribution {
  padding-top: 5px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  padding-top: 5px;
  color: hsl(228, 45%, 44%);
}

/* ----------------------------- */
